*.py[cod]

webservice/svm/svm_classify
webservice/svm/svm_classify.o
webservice/svm/svm_common.o
webservice/svm/svm_hideo.o
webservice/svm/svm_learn
webservice/svm/svm_learn.o
webservice/svm/svm_learn_main.o
webservice/svm/tmp
*.py~
# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
webservice/data

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

data
